html{
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

h1 {
    color:white;
    font-size: 50px;
    font-weight: normal;
}

h2 {
    color:white;
    font-size: 42px;
    font-weight: 300;

}

#link {
    color:aquamarine;
    font-family: Verdana;
    font-size: 16px;
}

p.gray{
    color:gray;
    font-size: 21px;
}

p.grayright{
    color:gray;
    text-align: right;
    font-size: 21px;
}
